<mat-toolbar>
  @if (router.url !== '/') {
  <a routerLink="/" class="back-and-title flex items-center">
    <mat-icon>arrow_back_ios</mat-icon>
    <span>Friends</span>
  </a>
  } @else {
  <span>Nearby Friends</span>
  }

  <span class="flex-1"> </span>

  <div matTooltip="Coming soon!">
    <button mat-icon-button disabled>
      <mat-icon>language</mat-icon>
    </button>
  </div>
  <div matTooltip="Coming soon!">
    <button mat-icon-button type="button" disabled>
      <mat-icon>light_mode</mat-icon>
    </button>
  </div>
</mat-toolbar>

<main class="flex-1 overflow-auto">
  <router-outlet />
</main>
